@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .active-nav-link {
    @apply text-primary;
    @apply relative;
    @apply after:absolute;
    @apply after:w-full;
    @apply after:h-1;
    @apply after:bg-primary;
    @apply after:bottom-0;
    @apply after:left-0;
    @apply after:rounded-tl-md;
    @apply after:rounded-tr-md;
  }
  .label:after {
    content: "+";
    position: absolute;
    @apply top-3;
    right: 1em;
    @apply text-2xl;
    @apply text-black;
  }

  input:checked + .label:after {
    content: "-";
    line-height: 0.8em;
    @apply top-3;
    @apply text-2xl;
    @apply text-black;
  }

  .accordion__content {
    max-height: 0em;
    transition: all 0.4s cubic-bezier(0.865, 0.14, 0.095, 0.87);
  }
  input[name="faq"]:checked ~ .accordion__content {
    max-height: 50em;
  }

  .sidebar {
    will-change: transform;
    transition: transform .3s ease-in-out;
  }

  .sidebar-hidden {
    transform: translateX(-100%);
  }
}

canvas[id=myChart],
canvas[id=referralsOffered],
canvas[id=referralsFulfilled],
canvas[id=referralsConversionRate],
canvas[id=referralsVsSales] {
  max-width: none !important;
  width: 730px !important;
  height: 375px !important;
  margin: 0 auto !important;
}

@media screen and (max-width: 1240px) {
 canvas[id=myChart],
 canvas[id=referralsOffered],
 canvas[id=referralsFulfilled],
 canvas[id=referralsConversionRate],
 canvas[id=referralsVsSales] {
  max-width: 600px !important;
  width: 600px !important;
  height: 375px !important;
  margin: 0 auto !important;
  } 
}

@media screen and (max-width: 1115px) {
 canvas[id=myChart],
 canvas[id=referralsOffered],
 canvas[id=referralsFulfilled],
 canvas[id=referralsConversionRate],
 canvas[id=referralsVsSales] {
  max-width: 500px !important;
  width: 500px !important;
  height: 375px !important;
  margin: 0 auto !important;
  } 
}

@media screen and (max-width: 1015px) {
 canvas[id=myChart],
 canvas[id=referralsOffered],
 canvas[id=referralsFulfilled],
 canvas[id=referralsConversionRate],
 canvas[id=referralsVsSales] {
  max-width: 400px !important;
  width: 400px !important;
  height: 375px !important;
  margin: 0 auto !important;
  } 
}